//All theme
$cl-black: #333333;
$cl-white: #FFFFFF;
$cl-title-blue: #033333;
$cl-silver: #e7e7e7;
$cl-blue: #5B52A0;

// Theme food club;
$cl-light-purple: #A6056C;
$cl-purple: #21002B;
$cl-text-gray: #666666;
$bd-pink : #EC197A;
$bd-dark-blue: #23303d;
$bd-gray: #f4f0f0;
//Theme Food now:
$cl-green : #2EBE4A;
$text-red: #F80000;
$text-green: #2DBD50;
$cl-red: #FF0000;
$bg-green: #2EBD51;
$text-underline: #AFADAD;
//Theme Food Coupon
$cl-red-bold: #D00808;

//Theme Food Gift
$cl-red-gift: #ED1E25;
$cl-yellow: #FFC300;
$cl-yellow-light: #EAD807;
//Theme Food Deals

$cl-yellow-deals: #F2C30F;
